version: '3'

services:
  nav-item:
    build: .
    image: nav-item:latest
    container_name: nav-item
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000             # 监听端口（可由 .env 覆盖）
      - ADMIN_USERNAME=admin  # 后台用户名（可由 .env 覆盖）
      - ADMIN_PASSWORD=123456 # 后台密码（可由 .env 覆盖）
      - JWT_SECRET=${JWT_SECRET}
    volumes:
      - ./database:/app/database  # 持久化数据库文件
      - ./uploads:/app/uploads    # 持久化上传文件
    restart: unless-stopped
